:root {
    --rosewood: #C3185B;
    --snow: #FCF9F7;
    --night-bordeaux: #3D0E20;
    --font-heading: 'new-kansas', 'sans-serif';
}
body {
    font-family: 'Poppins', 'Arial', 'Helvetica', 'Trebuchet MS', 'sans-serif';
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    width: 100%;
    background-color: var(--snow);
}
header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 15px;
    height: 40px;
    width: auto;
}
nav {
    display: none;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
header div a {
    background-color: var(--night-bordeaux);
    color: var(--snow);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    min-width: 120px;
    height: 40px;
}
header div i {
    color: var(--night-bordeaux);
    font-size: 30px;
    cursor: pointer;
    margin-left: 18px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    /* font-family: var(--font-heading); */
    font-size: 1.5em;
    margin: 16px;
    font-weight: bold;
}
section.over-mij div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.over-mij img {
    width: calc(100% - 40px);
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    height: auto;
    display: block;
}
section.over-mij p {
    width: calc(100% - 40px);
    hyphens: auto;
}
section.projecten {
    background-color: var(--night-bordeaux);
    color: var(--snow);
}
section.projecten img.project {
    width: calc(100% -  40px);
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: auto;
    display: block;
}
@media (min-width: 1000px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    header {
        min-height: 90px;
    }
    header img {
        margin-left: 32px;
        height: 55px;
        width: auto;
    }
    header nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    li {
        list-style-type: none;
        padding: 70px;
        color: var(--night-bordeaux);
    }
    header div a {
        min-width: 160px;
        height: 55px;
    }
    header div i.fa-bars {
        display: none;
    }
    h2 {
        font-size: clamp(1.5em, 2vw + 1em, 2em);
    }
    section.over-mij {
        margin-top: 48px;
        margin-bottom: 48px;
    }
    section.over-mij h2 {
        display: none;
    }
    section.over-mij div.over {
        display: flex;
        flex-direction: row;
    }
    section.over-mij img {
        max-width: 300px;
    }
    section.over-mij div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    section.projecten {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }
}